@media (max-width: 1600px) {
    .container{
        max-width: 1140px;
    }
    .row{
        margin: 0 -20px;
    }
    .col-4{
        padding: 0 20px;
    }
    .hero{
        height: 480px;
    }
    .products-item{
        height: 340px;
        margin-bottom: 60px;
    }
    .dish-week{
        height: 550px;
    }
    .dish-btn{
        font-size: 21px;
        padding: 10px 45px;
    }
    .dish-heading{
        font-size: 60px;
    }
    .substrate{
        width: 700px;
        height: 400px;
    }
    .dish-subtitle{
        font-size: 21px;
    }
    .footer-top img{
        max-width: 100px;
    }

}


@media (max-width: 1200px) {
    .container{
        max-width: 940px;
    }
    header img{
        max-width: 100px;
    }
    header{
        padding: 30px 0 35px;
        font-size: 10px;
    }
    .search-input{
        width: 180px;
    }
    .top-menu{
        font-size: 10px;
    }
    .hero{
        height: 380px;
    }
    .info-company{
        padding: 50px 0 55px;
    }
    .info-list-item{
        max-width: 140px;
    }
    .products-item{
        height: 300px;
    }
    .products-img{
        max-width: 100%;
    }

    .row{
        margin: 0 -20px;
    }
    .col-4{
        padding: 0 20px;
    }

    .dish-week{
        height: 550px;
    }
    .dish-btn{
        font-size: 21px;
        padding: 10px 45px;
    }
    .dish-heading{
        font-size: 60px;
    }
    .substrate{
        width: 700px;
        height: 400px;
    }
    .dish-subtitle{
        font-size: 21px;
    }

    .footer-top img{
        max-width: 80px;
    }
    .footer-top{
        font-size: 10px;
    }
}



@media (max-width: 992px) {
    .container{
        max-width: 740px;
    }

    header img{
        max-width: 100px;
    }
    header{
        padding: 30px 0 35px;
        font-size: 10px;
    }
    .search-input{
        width: 138px;
    }
    .top-menu{
        font-size: 10px;
    }
    .hero{
        height: 380px;
    }
    .info-company{
        padding: 50px 0 55px;
    }
    .info-list-item{
        max-width: 140px;
    }
    .products-item{
        height: 300px;
    }
    .products-img{
        max-width: 100%;
    }

    .row{
        margin: 0 -20px;
    }
    .col-4{
        padding: 0 20px;
    }

    .dish-week{
        height: 550px;
    }
    .dish-btn{
        font-size: 21px;
        padding: 10px 45px;
    }
    .dish-heading{
        font-size: 60px;
    }
    .substrate{
        width: 700px;
        height: 400px;
    }
    .dish-subtitle{
        font-size: 21px;
    }

    .footer-top img{
        max-width: 80px;
    }
    .footer-top{
        font-size: 10px;
    }

}









@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    header img{
        display: none;
    }
    header{
        padding: 30px 0 35px;
        font-size: 10px;
    }
    .search-input{
        width: 138px;
    }
    .top-menu{
        font-size: 10px;
    }
    .hero{
        height: 380px;
    }
    .info-company{
        padding: 50px 0 55px;
    }

    .info-list {
        display: table;
        width: 100%;
        text-align: center;
    }
    .info-list-item {
        display: table-row-group;
    }
    .products-item{
        height: 300px;
    }
    .products-img{
        max-width: 100%;
    }

    .row{
        margin: 0 -20px;
    }
    .col-4{
        width: 50%;
    }

    .dish-week{
        height: 400px;
    }
    .dish-btn{
        font-size: 21px;
        padding: 10px 45px;
    }
    .dish-heading{
        font-size: 60px;
    }
    .substrate{
        width: 700px;
        height: 400px;
    }
    .dish-subtitle{
        font-size: 21px;
    }

    .footer-top img{
        display: none;
    }
    .footer-top{
        font-size: 10px;
    }





}
@media (max-width: 480px) {

}